.myImage {
    width: 100%;
}

@media (max-width: 600px) {
    .myImage {
        width: 100%;
        max-width: 500px;
    }
}

html,
body {
    /* overflow-x: hidden; */
    height: 100%;
}

#app {
    overflow-y: clip;
    position: relative;
}

[data-aos] {
    pointer-events: none;
}

[data-aos].aos-animate {
    pointer-events: auto;
}